<div class="card">
  <div class="card-body">
      <!-- title -->
      <div class="d-md-flex align-items-center">
          <div>
              <h4 class="card-title">Top Selling Products</h4>
              <h5 class="card-subtitle">Overview of Top Selling Items</h5>
          </div>
          <div class="ml-auto">
              <div class="dl">
                  <select class="custom-select">
                      <option value="0" selected>Monthly</option>
                      <option value="1">Daily</option>
                      <option value="2">Weekly</option>
                      <option value="3">Yearly</option>
                  </select>
              </div>
          </div>
      </div>
      <!-- title -->
  </div>
  <div class="table-responsive">
      <table class="table v-middle">
          <thead>
              <tr class="bg-light">
                  <th class="border-top-0">Products</th>
                  <th class="border-top-0">License</th>
                  <th class="border-top-0">Support Agent</th>
                  <th class="border-top-0">Technology</th>
                  <th class="border-top-0">Tickets</th>
                  <th class="border-top-0">Sales</th>
                  <th class="border-top-0">Earnings</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>
                      <div class="d-flex align-items-center">
                          <div class="m-r-10">
                              <a class="btn btn-circle btn-info text-white">EA</a>
                          </div>
                          <div class="">
                              <h4 class="m-b-0 font-16">Elite Admin</h4>
                          </div>
                      </div>
                  </td>
                  <td>Single Use</td>
                  <td>John Doe</td>
                  <td>
                      <label class="label label-danger">Angular</label>
                  </td>
                  <td>46</td>
                  <td>356</td>
                  <td>
                      <h5 class="m-b-0">$2850.06</h5>
                  </td>
              </tr>
              <tr>
                  <td>
                      <div class="d-flex align-items-center">
                          <div class="m-r-10">
                              <a class="btn btn-circle btn-orange text-white">MA</a>
                          </div>
                          <div class="">
                              <h4 class="m-b-0 font-16">Monster Admin</h4>
                          </div>
                      </div>
                  </td>
                  <td>Single Use</td>
                  <td>Venessa Fern</td>
                  <td>
                      <label class="label label-info">Vue Js</label>
                  </td>
                  <td>46</td>
                  <td>356</td>
                  <td>
                      <h5 class="m-b-0">$2850.06</h5>
                  </td>
              </tr>
              <tr>
                  <td>
                      <div class="d-flex align-items-center">
                          <div class="m-r-10">
                              <a class="btn btn-circle btn-success text-white">MP</a>
                          </div>
                          <div class="">
                              <h4 class="m-b-0 font-16">Material Pro Admin</h4>
                          </div>
                      </div>
                  </td>
                  <td>Single Use</td>
                  <td>John Doe</td>
                  <td>
                      <label class="label label-success">Bootstrap</label>
                  </td>
                  <td>46</td>
                  <td>356</td>
                  <td>
                      <h5 class="m-b-0">$2850.06</h5>
                  </td>
              </tr>
              <tr>
                  <td>
                      <div class="d-flex align-items-center">
                          <div class="m-r-10">
                              <a class="btn btn-circle btn-purple text-white">AA</a>
                          </div>
                          <div class="">
                              <h4 class="m-b-0 font-16">Ample Admin</h4>
                          </div>
                      </div>
                  </td>
                  <td>Single Use</td>
                  <td>John Doe</td>
                  <td>
                      <label class="label label-purple">React</label>
                  </td>
                  <td>46</td>
                  <td>356</td>
                  <td>
                      <h5 class="m-b-0">$2850.06</h5>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>


<button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content3)">Modal vertically
        centered</button>


<ng-template #content3 let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="">
                <div class="">
                        <div class="row">
                                <div class="col-lg-12">
                                    <div class="">
                                        <!-- <div class="card-header bg-info">
                                            <h4 class="m-b-0 text-white">Form with view only</h4>
                                        </div> -->
                                        <form class="form-horizontal">
                                            <div class="form-body">
                                                <!-- <div class="card-body">
                                                    <h4 class="card-title">Person Info</h4>
                                                </div> -->
                                                <hr class="m-t-0 m-b-40">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="control-label text-right col-md-3">First Name:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static"> John </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="control-label text-right col-md-3">Last Name:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static"> Doe </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                    </div>
                                                    <!--/row-->
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="control-label text-right col-md-3">Gender:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static"> Male </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="control-label text-right col-md-3">Date of Birth:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static"> 11/06/1987 </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                    </div>
                                                    <!--/row-->
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="control-label text-right col-md-3">Category:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static"> Category1 </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group row">
                                                                <label class="control-label text-right col-md-3">Membership:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static"> Free </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                    </div>
                                                    <!--/row-->
                                                    <!-- <h4 class="card-title">Address</h4> -->
                                                </div>
                                                <hr class="m-t-0 m-b-40">
                                                
                                                
                                                </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </ng-template>