<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
    style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box">
        <div [ngClass]="{'d-none': recoverform}">
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Sign Up to Admin</h5>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" [formGroup]="userForm" novalida>
                        <div class="form-group row ">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" type="text"  placeholder="Name"
                                    formControlName="name">

                                    <p class="error" style="position:absolute;top:100%; left:5px;     color: red;"
                                [ngStyle]="{'font-size':'12px'}"
                                *ngIf="userFormErrors.name.required || (userForm.controls.name.pristine && submitted)">
                                Can't be empty</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" type="text"  placeholder="Email"
                                    formControlName="email">
                                    <p class="error" style="position:absolute;top:100%; left:5px;    color: red;"
                                [ngStyle]="{'font-size':'12px'}"
                                *ngIf="userFormErrors.email.required ||userFormErrors.email.email || (userForm.controls.email.pristine && submitted)">
                                PLease enter valid email</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" type="password" 
                                    placeholder="Password" formControlName="password">
                                    <p class="error" style="position:absolute;top:100%; left:5px;     color: red;"
                                    [ngStyle]="{'font-size':'12px'}"
                                    *ngIf="userFormErrors.password.required || (userForm.controls.password.pristine && submitted)">
                                    Can't be empty</p>
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" type="password" required=" " placeholder="Confirm Password">
                            </div>
                        </div> -->
                        <div class="form-group row">
                            <div class="col-md-12 ">
                                <!-- <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">I agree to all <a href="javascript:void(0)">Terms</a></label>
                                </div> -->
                            </div>
                        </div>
                        <div class="form-group text-center ">
                            <div class="col-xs-12 p-b-20 ">
                                <button class="btn btn-block btn-lg btn-info " type="submit " (click)="signup()">Sign
                                    up</button>
                            </div>
                        </div>
                        <div class="form-group m-b-0 m-t-10 ">
                            <div class="col-sm-12 text-center ">
                                Already have an account? <a href="#/authentication/login "
                                    class="text-info m-l-5 "><b>Sign In</b></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="recoverform" [ngClass]="{'d-block': recoverform}">
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Enter OTP</h5>
                <span>Enter The OTP, sent to your Email</span>
            </div>
            <div class="row m-t-20">
                <!-- Form -->
                <div class="col-12">
                    <!-- email -->
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control form-control-lg" type="email"  placeholder="OTP"
                                [(ngModel)]="code">
                        </div>
                    </div>
                    <!-- pwd -->
                    <div class="row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-block btn-lg btn-info" type="submit" name="action"
                                (click)="verify()">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>