<div class="row back">
    <div class="containers col-lg-6 col-md-6">
      
      <div class="pic"></div>
      
      <div class="box1"></div>
      <div class="box2"></div>
      
      <div class="social1">
        <i class="fa fa-facebook" aria-hidden="true"></i> 
      </div>
      <div class="social2">
        <i class="fab fa-instagram"></i>
      </div>
      <div class="social3">
       
        <i class="fab fa-twitter"></i>
         </div>
    </div>
    
    <div class="content col-md-offset-6 col-lg-offset-6">
     <h1 class="contentHead">TapTap</h1>
      
      <h3>Hi there, <br/><br/>
        TapTap is not only a device but it's a concept, it's a Identity. People across the world are going crazy with it.
        <br/><br/>
        Its like<span>&hearts;</span>All the info in your hand.
        <br/><br/>
        <p>(NOTICE: Please share your feed back with us.)</p>
        <!-- <p><span style="text-align:right; color:#000000; font-size:18px;">* No matter what u say, that gal is sorta cute.</span></p> -->
      </h3>
    </div>
    </div>   
    