

<div id="jssor_1"
style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:50px;overflow:hidden;visibility:hidden;">
<!-- Loading Screen -->
<div data-u="loading" class="jssorl-009-spin"
    style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
    <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="img/spin.svg" />
</div>
<div class="card-group" data-u="slides"
    style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:150px;overflow:hidden;">

    <div >
        <p>January</p>
    </div>
    <div>
        <p>February</p>
    </div>
    <div>
        <p>March</p>
    </div>
    <div>
        <p>April</p>
    </div>
    <div>
        <p>May</p>
    </div>
    <div>
        <p>June</p>
    </div>
    <div>
        <p>July</p>
    </div>
    <div>
        <p>August</p>
    </div>
    <div>
        <p>September</p>
    </div>
    <div>
        <p>October</p>
    </div>
    <div>
        <p>November
    </div>
    <div>
        <p>Demeber</p>
    </div>

</div>
<!-- Bullet Navigator -->
<div data-u="navigator" class="jssorb057" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1"
data-scale="0.5" data-scale-bottom="0.75">
<div data-u="prototype" class="i" style="width:16px;height:16px;">
    <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
        <circle class="b" cx="8000" cy="8000" r="5000"></circle>
    </svg>
</div>
</div>
<!-- Arrow Navigator -->
<div data-u="arrowleft" class="jssora073" style="width:50px;height:50px;top:0px;left:30px;" data-autocenter="2"
data-scale="0.75" data-scale-left="0.75">
<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
    <path class="a"
        d="M4037.7,8357.3l5891.8,5891.8c100.6,100.6,219.7,150.9,357.3,150.9s256.7-50.3,357.3-150.9 l1318.1-1318.1c100.6-100.6,150.9-219.7,150.9-357.3c0-137.6-50.3-256.7-150.9-357.3L7745.9,8000l4216.4-4216.4 c100.6-100.6,150.9-219.7,150.9-357.3c0-137.6-50.3-256.7-150.9-357.3l-1318.1-1318.1c-100.6-100.6-219.7-150.9-357.3-150.9 s-256.7,50.3-357.3,150.9L4037.7,7642.7c-100.6,100.6-150.9,219.7-150.9,357.3C3886.8,8137.6,3937.1,8256.7,4037.7,8357.3 L4037.7,8357.3z">
    </path>
</svg>
</div>
<div data-u="arrowright" class="jssora073" style="width:50px;height:50px;top:0px;right:30px;" data-autocenter="2"
data-scale="0.75" data-scale-right="0.75">
<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
    <path class="a"
        d="M11962.3,8357.3l-5891.8,5891.8c-100.6,100.6-219.7,150.9-357.3,150.9s-256.7-50.3-357.3-150.9 L4037.7,12931c-100.6-100.6-150.9-219.7-150.9-357.3c0-137.6,50.3-256.7,150.9-357.3L8254.1,8000L4037.7,3783.6 c-100.6-100.6-150.9-219.7-150.9-357.3c0-137.6,50.3-256.7,150.9-357.3l1318.1-1318.1c100.6-100.6,219.7-150.9,357.3-150.9 s256.7,50.3,357.3,150.9l5891.8,5891.8c100.6,100.6,150.9,219.7,150.9,357.3C12113.2,8137.6,12062.9,8256.7,11962.3,8357.3 L11962.3,8357.3z">
    </path>
</svg>
</div>
</div>


<div class="card">
  <div class="card-body">
    <!-- title -->
    <div class="d-md-flex align-items-center">
      <div>
        <h4 class="card-title">Top Selling Products</h4>
        <h5 class="card-subtitle">Overview of Top Selling Items</h5>
      </div>
      <div class="ml-auto">
        <div class="dl">
          <select class="custom-select">
            <option value="0" selected>Monthly</option>
            <option value="1">Daily</option>
            <option value="2">Weekly</option>
            <option value="3">Yearly</option>
          </select>
        </div>
      </div>
    </div>
    <!-- title -->
  </div>
  <div class="table-responsive">
    <table class="table v-middle">
      <thead>
        <tr class="bg-light">
          <th class="border-top-0">Products</th>
          <th class="border-top-0">Type</th>
          <!-- <th class="border-top-0">Support Agent</th>
          <th class="border-top-0">Technology</th>
          <th class="border-top-0">Tickets</th>
          <th class="border-top-0">Sales</th>
          <th class="border-top-0">Earnings</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tap of tapdata;let i = index">
          <td >
            <div class="d-flex align-items-center">
              <div class="m-r-10">
                <a class="btn btn-circle btn-info text-white">{{i+1}}</a>
              </div>
              <div class="">
                <!-- <h4 class="m-b-0 font-16">{{tap.contactId.name}}</h4> -->
              </div>
            </div>
          </td>
          <td (click)="goto(tap)">{{tap.purpose}}</td>
          <!-- <td>{{tap.contactId.location}}</td> -->
          <!-- <td>
            <label class="label label-danger">Angular</label>
          </td>
          <td>46</td>
          <td>356</td>
          <td>
            <h5 class="m-b-0">$2850.06</h5>
          </td> -->
        </tr>
       
      </tbody>
    </table>
  </div>
</div>