<div class="card">
    <!-- CAROUSEL -->
    <ngb-carousel>
        <ng-template ngbSlide>
            <img class="card-img-top img-responsive" src="assets/images/big/img5.jpg" alt="Card image cap">

        </ng-template>
        <ng-template ngbSlide>
            <img class="card-img-top img-responsive" src="assets/images/big/img5.jpg" alt="Card image cap">

        </ng-template>
        <ng-template ngbSlide>
            <img class="card-img-top img-responsive" src="assets/images/big/img5.jpg" alt="Card image cap">

        </ng-template>
    </ngb-carousel>
    <!-- End CAROUSEL -->

  <div class="card-body">
      <div class="d-flex no-block align-items-center m-b-15">
          <span>
              <i class="ti-calendar"></i> 19 May 2018</span>
          <div class="ml-auto">
              <a href="javascript:void(0)" class="link">
                  <i class="ti-comments"></i> 5 Comments</a>
          </div>
      </div>
      <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
      <p class="m-b-0 m-t-10">Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
      <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Read more</button>
  </div>
</div>